.footer {
    padding: 60px 0px;
    background-color: #333333;
}

.footer__copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
}